.App {
  text-align: center;
}

.head{
  background-color:lightpink;
}
h1{
  margin: 0%;
}
.a{
  background-color: coral;
}
.b{
  background-color:cornflowerblue;
}
.c{
  background-color:blueviolet;
}